<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Wikipanime</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body>
    <div class="glass-container error-box">
        <h2>Error</h2>
        <p>{{ error_message }}</p>
        
        <div class="btn-group">
            <button onclick="history.back()" class="btn-error">Try again</button>
            <a href="{{ url_for('home') }}" class="btn-home">Back To Menu</a>
        </div>
    </div>
</body>
</html>