<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipanime - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="glass-container">
        <h1>Wikipanime</h1>
        <p>Search for the anime you love (hopefully)</p>
        <div class="btn-group">
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-secondary">Login</a>
        </div>
    </div>
</body>
</html>